:root {
    --yellow: #ffcb15;
    --black: #191919;
    --orange: #ff7f00;
    --red: #da0505;
    --white: #ffffff;
    --whitetext: #e6e2ff;
}

html {
    scroll-behavior: smooth;
  }

footer a  {
        color:var(--black);    
}

body {
    margin: 0 auto;
    background: var(--yellow);
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.logo-head {
    display: grid;
    grid-template-columns: 10% auto 10%;
    justify-items: center;
    background: #ffffff url(cheezzypizza-bg-1.jpg) no-repeat center center;
    /* filter:brightness(10%); */
    
}

hr {background: #ffffff;
    height: 0.7em;
    margin: 0px;
    border: none;}

.logo-head a {
    grid-column: 2 / -2;
}

.main-menu {
    padding: 15px 20px;
    background: var(--yellow);
    text-align: center;
}

.menu-links {
    display: grid;
    gap: 25px 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
}

.menu-links li {
    list-style: none;
    background: var(--black);
    border-radius: 5px;
}

.menu-links li:hover {
    background: var(--red);
    transition: .300s;   
}

.menu-links a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color:var(--whitetext);    
}

/* Gallery */

.pic-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 0 20px;
}

.pic-gallery h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.pic-gallery img {
   width: 100%;
   border-radius: 8px;
   box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .15);
}


/* Branches */

.branches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px 15px;
    padding: 0 35px;
}

.branch {
    background: var(--black);
    padding: 15px 20px;
    border-radius: 6px;
    transition: .300s;
    color: var(--whitetext)
}

.branch:hover {
    background: var(--red);
    transform: scale(1.06);
}

.branches h1 {grid-column: 1 / -1;
              text-align: center;
            }  
              
.branch a {
    color: #e6e2ff;
    text-decoration: none;
} 


/* details */

.faqs {display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
 }


.faq-qs { grid-column: 3 / -3;}

summary {
    outline: none;
    font-size: 18px;
    padding: 13px;
    display: list-item;
}

details {
    border: 1px solid;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

details p {
    padding: 2px 5px;
    font-size: 1.1em;
    line-height: 1.4;
}


details[open] {
    padding: 0;
}

details[open] summary {
    border-bottom: 1px solid #191919;
    margin-bottom: 0;
}

/* YouTube Embed */
    

.video-em { background: var(--black);
            padding: 60px 90px; }


.videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
}

.videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

/* About */

.about {padding: 40px 20px;
        background: var(--white);}

.about p {font-size: 1.1em}        

.about-div {
   display: grid;
   grid-template-columns: 1fr 1.2fr;
   column-gap: 20px;
}

.core {padding: 40px 20px;}

.core p {font-size: 1.1em}        

.core-val{
display: grid;
grid-template-columns: 1fr 1.2fr;
column-gap: 20px;
}


.careers-menu {
    padding: 15px 20px;
    background: var(--yellow);
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.menu-links {
    display: grid;
    gap: 25px 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
}

.menu-links li {
    list-style: none;
    background: var(--black);
    border-radius: 5px;
}

.menu-links li:hover {
    background: var(--red);
    transition: .300s;   
}

.menu-links a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color:var(--whitetext);    
}

/* footer */

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
}

.social {
    display: grid;
    gap: 25px;
    margin-top: 30px;
    grid-template-columns: 20px 20px 20px;
    align-items: center;
    justify-content: center;
}


@media (max-width:600px) {
        .video-em {
            padding: 2.8em 0.5em;
        }

        .columnbg2 {
            padding: 3em 0em;
        }

        .columnbg3 {
            padding: 3em 0em;
        }

        .about-div, .core-val {
            grid-template-columns: 1fr;
         }

         .about p, .core p {font-size: 1em}  


         .core, .about {padding: 13px 20px;}

         .faq-qs { grid-column: 2 / -2;}
}
